/* Headings */
.tiptap h1 {
  color: hsl(var(--bc));
  font-size: 2em;
  font-weight: bold;
}

.tiptap h2 {
  color: hsl(var(--bc));
  font-size: 1.5em;
  font-weight: bold;
}

.tiptap h3 {
  color: hsl(var(--bc));
  font-size: 1em;
  font-weight: bold;
}

/* Paragraph */
.custom-paragraph {
  color: hsl(var(--bc));
  font-size: 14px;
  font-weight: 400;
}
.tiptap mark {
  background-color: yellow;
  color: black;
  padding: 2px 4px;
  border-radius: 4px;
}

.custom-paragraph.is-empty::before {
  content: attr(data-placeholder);
  color: hsl(var(--b3));
  opacity: 0.3;
  font-style: italic;
  font-weight: 300;
}

/* Lists */
.custom-ordered-list li::marker,
.custom-unordered-list li::marker {
  color: hsl(var(--b3));
}

/* Code Block */
.custom-codeBlock {
  background-color: hsl(var(--b2));
  padding: 15px;
  border-radius: 10px;
}

.custom-link {
  text-decoration: underline;
  border-radius: 10px;
  cursor: pointer;
  padding: 2px;
  display: inline-flex;
  width: fit-content;
  align-items: center;
}

.custom-ordered-list {
  list-style-type: decimal;
  padding-left: 30px;
}

.custom-ordered-list li::marker {
  color: #393939;
}

/* bullet list */
.custom-unordered-list {
  list-style-type: disc;
  padding-left: 30px;
}
.custom-unordered-list li::marker {
  color: #9a9a9a;
}
