/* Headings */
.tiptap h1 {
  color: hsl(var(--bc));
  font-size: 2em;
  font-weight: bold;
}

.tiptap h2 {
  color: hsl(var(--bc));
  font-size: 1.5em;
  font-weight: bold;
}

.tiptap h3 {
  color: hsl(var(--bc));
  font-size: 1em;
  font-weight: bold;
}

/* Paragraph */
.custom-paragraph {
  padding: 10px 0;
  color: hsl(var(--bc));
  font-size: 0.9em;
}

.custom-paragraph.is-empty::before {
  content: attr(data-placeholder);
  color: hsl(var(--b3));
  font-style: italic;
}

/* Task Item */
.custom-task-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 1px;
  border-radius: 5px;
}

.custom-task-item:hover {
  background-color: hsl(var(--b3));
}

.custom-task-item[data-checked="true"] p {
  text-decoration: line-through;
  color: hsl(var(--bc));
  opacity: 0.5;
}

/* Lists */
.custom-ordered-list li::marker,
.custom-unordered-list li::marker {
  color: hsl(var(--b3));
}

/* Code Block */
.custom-codeBlock {
  background-color: hsl(var(--b2));
  padding: 15px;
  border-radius: 10px;
}

.custom-link {
  text-decoration: underline;
  border-radius: 10px;
  cursor: pointer;
  padding: 2px;
  display: inline-flex;
  width: fit-content;
  align-items: center;
}

.custom-ordered-list {
  list-style-type: decimal;
  padding-left: 30px;
}

.custom-ordered-list li::marker {
  color: #9a9a9a;
}

/* bullet list */
.custom-unordered-list {
  list-style-type: disc;
  padding-left: 30px;
}
.custom-unordered-list li::marker {
  color: #9a9a9a;
}
